.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
                //- text 추가 : |는 이 안에 들어간 것들을 text 취급해준다.
            |Continue with Github
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            |Continue with Facebook
        