extends base.pug

block content
    h4 Update Video
    form(method="POST")
        input(name="title" placeholder="Video Title" value=`${video.title}` maxlength="80" required)
        input(name="description" placeholder="Video Description" value=`${video.description}` minlength="20" required)
        input(name="hashtags" type="text" placeholder="Hashtags, Seperated by comma." value=`${video.hashtags.join()}` required)
        input(value="Save" type="submit")