extends base.pug
block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Username" type="text" required name="username")
        input(placeholder="Password", type="password", required, name="password")
        input(type="submit" value="Login")
        br
        a(href="/users/github/start") Continue with github &rarr;
    hr
    div
        span Don't have an account? 
        a(href="/login") Create one now &rarr;