extends base.pug
include mixins/video.pug

block content
    h4 Search Video
    form(method="GET")
        input(type="text" placeholder="Search by title" name="keyword") 
        input(type="submit" value="Search now")
    div
        each video in videos
            +video(video)