extends base.pug
include mixins/video.pug

block content
    h4 Search Video
    form(method="GET").search__form
        input(type="text" placeholder="Search by title" name="keyword") 
        button 
            i.fas.fa-search
    div.video-grid
        each video in videos
            +video(video)
        else 
            span.empty__message No videos found.