/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/style.scss ***!
  \*********************************************************************************************************************/
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
.video__comments .video__comment {
  padding: 10px;
  border-radius: 999px;
  background-color: white;
  color: black;
  margin-bottom: 10px;
}

body {
  background-color: red;
}
